@model DVDLibrary.UI.Models.ViewAllBorrowersVM

@{
    ViewBag.Title = "View All Borrowers";
}

<h2>View All Borrowers</h2>
<br/>
<div>
    <a href="/Borrower/AddNewBorrower" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add New Borrower</a>
</div>
<br/>

<div class="container-fluid">
    <div class="row text-center">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center">BorrowerID</th>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Owner?</th>
                <th class="text-center">Email</th>
                <th class="text-center"># Movies Out</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>

            <tbody>
                @foreach (var b in Model.BorrowersList)
                {
                    <tr>
                        <td>@b.BorrowerId</td>
                        <td>@b.FirstName</td>
                        <td>@b.LastName</td>
                        <td>
                            @if (b.IsOwner)
                            {
                                <span class="glyphicon glyphicon-ok"></span>
                            }
                        </td>
                        <td>@b.Email</td>
                        <td>@b.MoviesCheckedOut</td>
                        <td>
                            <a href="/Borrower/ViewBorrowerDetails/@b.BorrowerId" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> View Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br/>

<div>
    <a href="/Home/Index" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Return to Home</a>
</div>
