@model DVDLibrary.UI.Models.AddDVDVM

@{
    ViewBag.Title = "Add Movie By TMDb ID";
}

<h2>Add Movie By TMDb Id</h2>

<div>
    @using (Html.BeginForm("SendNewMovieInfoToDB", "AddMovie", null, FormMethod.Post, new {id = "newdvdinfo", @class="form-horizontal"}))
    {
        <div class="container-fluid form-group">
            <div class="row">
                <div class="col-xs-9" id="dvdinfo">
                    @Html.ValidationSummary(false)
                    <table class="table table-striped col-xs-9">
                        <thead>
                        <tr><th>DVD Information</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="col-xs-3"># of DVDs to Add</td>
                            <td class="col-xs-6">@Html.TextBoxFor(d => d.Quantity, new {@class = "form-control"})</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">DVD Type</td>
                            <td class="col-xs-6">@Html.DropDownListFor(d => d.DVDType, Model.DVDTypesList, new {@class = "form-control"})</td>
                        </tr>
                        <tr><th>Movie Information From TMDb</th><td><b>**</b> If the metadata below already exists from TMDb, it is HIGHLY recommended to <b>NOT CHANGE</b> it...</td></tr>
                        <tr>
                            <td class="col-xs-3">Movie Title</td>
                            <td class="col-xs-6">@Html.TextBoxFor(m => m.Movie.MovieTitle, new {@class = "form-control"})</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">TMDb Number</td>
                            <td class="col-xs-6">@Html.DisplayFor(m => m.Movie.MovieTMDBNum, new {@class = "form-control"})</td>
                            @Html.HiddenFor(m => m.Movie.MovieTMDBNum)
                        </tr>
                        <tr>
                            <td class="col-xs-3">MPAA Rating</td>
                            <td class="col-xs-6">@Html.DropDownListFor(m => m.Movie.MpaaRating, Model.RatingsList, new {@class = "form-control"})</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Release Date</td>
                            <td class="col-xs-6">@Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:MM/dd/yyyy}", new {@class = "form-control"})</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Duration (mins)</td>
                            <td class="col-xs-6">@Html.TextBoxFor(m => m.Movie.Duration, new {@class = "form-control"})</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Synopsis</td>
                            <td class="col-xs-6">@Html.TextAreaFor(m => m.Movie.Synopsis, 10, 60, new {@class = "form-control"})</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Poster URL</td>
                            <td class="col-xs-6">@Html.TextBoxFor(m => m.Movie.PosterUrl, new {@class = "form-control"})</td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Trailer (YouTube)</td>
                            <td class="col-xs-6">@Html.TextBoxFor(m => m.Movie.YouTubeTrailer, new {@class = "form-control"})</td>
                        </tr>
                        <tr>
                            <td class="col=xs-3">Genres</td>
                            <td class="col-xs-6">
                                @for (int i = 0; i < Model.Movie.Genres.Count - 1; i++)
                                {
                                    @(Model.Movie.Genres[i].GenreName + ", ")
                                }
                                @Model.Movie.Genres[Model.Movie.Genres.Count - 1].GenreName
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">Director</td>
                            <td class="col-xs-6">@Html.TextBoxFor(m => m.Movie.Director.DirectorName, new {@class = "form-control"})</td>
                            @Html.HiddenFor(m => m.Movie.Director.DirectorTMDBNum)
                        </tr>
                        <tr>
                            <td class="col-xs-3">Studio</td>
                            <td class="col-xs-6">@Html.TextBoxFor(m => m.Movie.Studio.StudioName, new {@class = "form-control"})</td>
                            @Html.HiddenFor(m => m.Movie.Studio.StudioTMDBNum)
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-3">
                    <img src="@Model.Movie.PosterUrl" class="img-responsive">
                </div>
                <div class="col-xs-9">
                    <table class="table table-striped col-xs-9 text-center">
                        <thead><tr><th class="text-center">Cast</th><th class="text-center">Actor Name</th><th class="text-center">Character Name</th></tr></thead>
                        <tbody>
                        @foreach (var a in Model.Movie.MovieActors)
                        {
                            <tr>
                                <td class="col-xs-3">Actor #@(Model.Movie.MovieActors.IndexOf(a) + 1)</td>
                                <td class="col-xs-3">@a.ActorName</td>
                                <td class="col-xs-3">@a.CharacterName</td>
                            </tr>
                        }
                            @if (Model.Movie.MovieActors.Count == 0)
                            {
                                <tr>
                                    <td>TMDb has no Actors associated with this movie...</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="display: none">
            @if (Model.Movie.MovieAliases.Count > 0)
            {
                for (int i = 0; i < Model.Movie.MovieAliases.Count; i++)
                {
                    @Html.HiddenFor(a => Model.Movie.MovieAliases[i].MovieAliasTitle)
                }
            }
            @if (Model.Movie.Genres.Count > 0)
            {
                for (int i = 0; i < Model.Movie.Genres.Count; i++)
                {
                    @Html.HiddenFor(a => Model.Movie.Genres[i].GenreName)
                }
            }
            @if (Model.Movie.MovieActors.Count > 0)
            {
                for (int i = 0; i < Model.Movie.MovieActors.Count; i++)
                {
                    @Html.HiddenFor(a => Model.Movie.MovieActors[i].ActorName)
                    @Html.HiddenFor(a => Model.Movie.MovieActors[i].CharacterName)
                    @Html.HiddenFor(a => Model.Movie.MovieActors[i].ActorTMDBNum)
                }
            }
        </div>

        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Submit</button>
    }
</div>
<br/>
<div>
    <a href="/AddMovie/Index" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Return to Add DVD Index</a>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}