@model DVDLibrary.UI.Models.SearchTMDBResultsVM

@{
    ViewBag.Title = "Add a New Movie - TMDB Search Results";
}

<h2>Add a New Movie - TMDb Search Results for @Model.SearchParameter</h2>

<div id="searchtmdbname">
    <p>Please enter the name of the movie that you want to add to your collection.</p>
    @using (Html.BeginForm("SearchTMDBForMovies", "AddMovie", null, FormMethod.Post, new { id = "searchForm" }))
    {
        <div class="form-inline">
            <p>Movie Search (TMDb): @Html.TextBox("movieSearchString", @Model.SearchParameter, new {@class = "form-control"})
            <button type="Submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button></p>
        </div>
    }

</div>

@if (@Model.ListOfTMDBResults.Count == 0)
{
    <div>
        <p>Your search returned no matches. Please try a different name or combination.</p>
    </div>
}
else
{
    <div>
        <p>You have @Model.ListOfTMDBResults.Count matches for "@Model.SearchParameter".</p>
    </div>

    <br/>

    <div id="resultsTable">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center">Poster</th>
                <th class="text-center">Info</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.ListOfTMDBResults)
                {
                    <tr>
                        <td><img src="@r.PosterUrl"></td>
                        <td>
                            <h3><b>@r.MovieTitle</b>
                            </h3>
                            <p>@r.ReleaseDate.ToString("d")</p>
                            <br/>
                            <p>@r.Synopsis</p>
                        </td>
                        <td style="vertical-align: middle"><a href="/AddMovie/AddMovieByTMDBId/@(r.TMDBNum)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Movie</a></td>
                        @*<td style="vertical-align:middle">@Html.ActionLink("Add Movie", "AddMovieByTMDBId", "AddMovie", new { id = @r.TMDBNum }, new { @class = "btn btn-primary" })</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div>
    <a href="/AddMovie/Index" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Return to Add DVD Index</a>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/jquery-validate-default.js"></script>
    <script src="~/Scripts/app/tmdbsearchValidation.js"></script>
}