@model DVDLibrary.Models.CollectionStats

@{
    ViewBag.Title = "Git Happens' DVD Library Index";
}
<div class="jumbotron">
    @if (Model.Owner != null)
    {
        <h2 class="text-center">Welcome to <em>@Model.Owner's</em> DVD Library Collection!!</h2>
    }
    else
    {<h2 class="text-center">Welcome to Git Happens' DVD Library Collection!!</h2>
    }
</div>

<div class="row">
     <h4>This is your one stop to fully organizing, integrating and optimizing your Movie collection.</h4>
</div>
    <br/>
<div class="row">
<p>Just take a look at a few of our database statistics...</p>
<ul>
    <li>Owner: <b>@Model.Owner</b></li>
    <li># of Movies: <b>@Model.MoviesCount</b></li>
    <li># of DVDs: <b>@Model.DVDsCount</b></li>
    <li># of Users: <b>@Model.BorrowersCount</b></li>
    <li># of Rentals: <b>@Model.BorrowerStatusesCount</b></li>
    <li># of User Ratings: <b>@Model.UserRatingsCount</b></li>
    <li># of User Notes: <b>@Model.UserNotesCount</b></li>
    <li># of Directors: <b>@Model.DirectorsCount</b></li>
    <li># of Studios: <b>@Model.SutdiosCount</b></li>
    <li># of Genres: <b>@Model.GenresCount</b></li>
    <li># of Actors: <b>@Model.ActorsCount</b></li>
    <li># of Characters: <b>@Model.ActorsRolesCount</   b></li>
</ul>
</div>