@using DVDLibrary.Models
@model Movie
@{
    ViewBag.Title = "SelectDvd";
}

<h2>@Model.MovieTitle</h2>
<img src="@Model.PosterUrl" align="right">
<div class ="table-striped">
    <li>@Model.MpaaRating</li>
    @foreach (var genre in @Model.Genres)
    {
        <li>Genre: @genre</li>
    }
    <li>Duration: @Model.Duration</li>
    <li>Release Date: @Model.ReleaseDate.ToString("MM-dd-yyyy")</li>
    <li>Director Name: @Model.Director.DirectorName</li>
    <li>Studio: @Model.Studio.StudioName</li>
    @foreach (var actor in @Model.MovieActors)
    {
        <li>@actor.CharacterName: @actor.ActorName</li>
    }
    <li>@Model.MovieActors</li>
    <li>@Model.UserRatings</li>
    <li>@Model.Synopsis</li>
    <li>@Model.UserNotes</li>
    </div>
