@model DVDLibrary.UI.Models.ViewMovieDVDsVM

@{
    ViewBag.Title = @Model.DVDs[0].Movie.MovieTitle;
}

<br />
<p>@Html.ActionLink("Back to DVD Collection", "ViewAllDvds", "Home")</p>

<h2>@Model.DVDs[0].Movie.MovieTitle</h2>
<img class="img-responsive" src="@Model.DVDs[0].Movie.PosterUrl" align="right">
<div class="table-striped">
    <ul>
        <li>@Model.DVDs[0].Movie.MpaaRating</li>
        @foreach (var genre in @Model.DVDs[0].Movie.Genres)
        {
            <li>Genre: @genre.GenreName</li>
        }
        <li>Duration: @Model.DVDs[0].Movie.Duration</li>
        <li>Release Date: @Model.DVDs[0].Movie.ReleaseDate.ToString("d")</li>
        <li>Director Name: @Model.DVDs[0].Movie.Director.DirectorName</li>
        <li>Studio: @Model.DVDs[0].Movie.Studio.StudioName</li>
        <li>Actors:</li>
        @foreach (var actor in @Model.DVDs[0].Movie.MovieActors)
        {
            <span>@actor.CharacterName: @actor.ActorName</span>
            <span>;</span>
        }
        <p></p>
        <p style="font-weight: bold">Synopsis:</p>
        <span>@Model.DVDs[0].Movie.Synopsis</span>
        <p></p>
        <p style="font-weight: bold">Viewer Comments:</p>
        <li>
            Owner Rating:

            @if (@Model.DVDs[0].Movie.UserRatings.Where(r => r.Owner).FirstOrDefault() != null)
            {
                <span>@Model.DVDs[0].Movie.UserRatings.Where(r => r.Owner).FirstOrDefault().Rating / 10 </span>
            }
            else
            {
                <span>You have not rated this movie.</span>
            }
        </li>

        <li>
            Average User Rating (@(Model.DVDs[0].Movie.UserRatings.Count) users):
            @if (@Model.DVDs[0].Movie.UserRatings.Count != 0)
            {
                <span>@Model.DVDs[0].Movie.UserRatings.Average(r => r.Rating) / 10</span>
            }
            else
            {
                <span>No users have rated this movie.</span>
            }
        </li>

        @foreach (var note in @Model.DVDs[0].Movie.UserNotes)
        {
            <li>User Notes: @note.Note ~@note.BorrowerName</li>
        }

        <p></p>
        <p style="font-weight: bold">Borrower Information:</p>
        @*@if (@Model.status.DVDId != null && @Model.status.DateReturned == null)
            {
                <li>Borrower: @Model.status.Borrower</li>
                <li>Date Borrowed: @Model.status.DateBorrowed</li>
            }
            else
            {
                <p>This movie is available to be borrowed.</p>
            }*@

        @using (Html.BeginForm("BorrowDvdPost", "Home", FormMethod.Post))
        {
            <p>Select Borrower: @Html.DropDownListFor(b => b.Borrower.FirstName, Model.BorrowersList)</p>
            <button type="submit" class="btn btn-primary">Borrower Movie</button>
        }
    </ul>
</div>
<br/>
<div id="trailer">
    @if (@Model.DVDs[0].Movie.YouTubeTrailer != null)
    {
        <iframe width="420" height="315" src="@Model.DVDs[0].Movie.YouTubeTrailer"></iframe>
    }
</div>

<br />
<div>
    @using (Html.BeginForm("DeleteDVD", "Home", FormMethod.Post))
    {
        @Html.Hidden("id", @Model.DVDs[0].Movie.MovieId)
        <button class="btn btn-danger">Delete</button>
    }
</div>
