@model DVDLibrary.UI.Models.ViewMovieDVDsVM

@{
    ViewBag.Title = @Model.DVDs[0].Movie.MovieTitle;
}
<br/>
<div class="clearfix">
    @Html.ActionLink("Back to DVD Collection", "ViewAllDvds", "Home", null, new {@class = "btn btn-default pull-right"})
</div>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3" id="left column">
            <div class="row">
                <img src="@Model.DVDs[0].Movie.PosterUrl">
            </div>
            <br/>
            <div class="row">
                <a href="#" class="btn btn-primary col-xs-9">View DVDs <span class="badge">@Model.DVDs.Count</span></a>
            </div>
            <div class="row">
                <a href="#" class="btn btn-primary col-xs-9">View Comments <span class="badge">@Model.DVDs[0].Movie.UserNotes.Count</span></a>
            </div>
            <div class="row">
                <a href="#" class="btn btn-primary col-xs-9">View Ratings <span class="badge">@Model.DVDs[0].Movie.UserRatings.Count</span></a>
            </div>
            <div class="row">
                <a href="#" class="btn btn-primary col-xs-9">Edit Movie</a>
            </div>
            <br/>
            <div class="row">
                <span><b>@(Model.Owner)'s Rating:</b></span>
            </div>
            <div class="row">
                @if (@Model.DVDs[0].Movie.UserRatings.Where(r => r.Owner).FirstOrDefault() != null)
                {
                    <span>@Model.DVDs[0].Movie.UserRatings.Where(r => r.Owner).FirstOrDefault().Rating / 5</span>
                }
                else
                {
                    <span>@(Model.Owner) has not rated this.</span>
                }
            </div>
            <br/>
            <div class="row">
                <span><b>Avg Rating (@Model.DVDs[0].Movie.UserRatings.Count Users):</b></span>
            </div>
            <div class="row">
                @if (@Model.DVDs[0].Movie.UserRatings.Count != 0)
                {
                    <span>@Model.DVDs[0].Movie.UserRatings.Average(r => r.Rating) / 5</span>
                }
                else
                {
                    <span>No users have rated this.</span>
                }
            </div>
            <br/>

            <div class="row">
                <p><b>MovieID:</b> @(Model.DVDs[0].Movie.MovieId)</p>
            </div>

            <div class="row">
                <p><b>TMDB#:</b> @(Model.DVDs[0].Movie.MovieTMDBNum)</p>
            </div>
            



        </div>


        <div class="col-xs-9" id="right column">
            <div class="row panel panel-default text-center">
                <div class="panel-heading">
                    <h1>
                        @Model.DVDs[0].Movie.MovieTitle <small>(@Model.DVDs[0].Movie.ReleaseDate.Year)</small>
                    </h1>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        <li>@Model.DVDs[0].Movie.MpaaRating</li>
                        <li> | </li>
                        <li>@(Model.DVDs[0].Movie.Duration) mins</li>
                        <li> | </li>
                        <li>
                            @for (int i = 0; i < Model.DVDs[0].Movie.Genres.Count - 1; i++)
                            {
                                @(Model.DVDs[0].Movie.Genres[i].GenreName + ", ")
                            }
                            @Model.DVDs[0].Movie.Genres[Model.DVDs[0].Movie.Genres.Count - 1].GenreName
                        </li>
                        <li> | </li>
                        
                        <li>@(Model.DVDs[0].Movie.ReleaseDate.ToString("d")) (USA)</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <blockquote class="blockquote-reverse">
                    <p>@Model.DVDs[0].Movie.Synopsis</p>
                    <small>Synopsis from <cite title="Source Title">themoviedb.org</cite></small>
                </blockquote>
            </div>

            <div class="text-center">
                    <ul class="list-inline">
                        <li><h4>Directed by <b>@(Model.DVDs[0].Movie.Director.DirectorName)</b></h4></li>
                        <li> | </li>
                        <li><h4>Produced by <b>@(Model.DVDs[0].Movie.Studio.StudioName)</b></h4></li>
                    </ul>
            </div>
            <br/>

            <div class="row embed-responsive embed-responsive-16by9" id="trailer">
                @if (@Model.DVDs[0].Movie.YouTubeTrailer != null)
                {
                    <iframe class="embed-responsive-item" src="@(Model.DVDs[0].Movie.YouTubeTrailer)"></iframe>
                }
            </div>
            <br/>

            <div class="row">
                <table class="table table-bordered table-responsive text-center">
                    <thead><tr><th class="text-center">Cast</th><th class="text-center">Actor Name</th><th class="text-center">Character Name</th></tr></thead>
                    <tbody>
                        @foreach (var a in Model.DVDs[0].Movie.MovieActors)
                        {
                            <tr>
                                <td class="col-xs-3">Actor #@(Model.DVDs[0].Movie.MovieActors.IndexOf(a) + 1)</td>
                                <td class="col-xs-3">@a.ActorName</td>
                                <td class="col-xs-3">@a.CharacterName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
