@model DVDLibrary.UI.Models.ViewMovieDVDsVM

@{
    ViewBag.Title = @Model.DVDs[0].Movie.MovieTitle;
}
<br/>
<div class="clearfix">
    <a href="/Home/ViewAllDvds" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span> Back to DVD Collection</a>
</div>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3" id="left column">
            <div class="row">
                <div class="col-xs-9">
                    <img class="img-responsive" src="@Model.DVDs[0].Movie.PosterUrl">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="btn-group-vertical  col-xs-9">
                    <a href="/Home/ViewDVDsStatus/@(Model.DVDs[0].Movie.MovieId)" class="btn btn-primary">View DVDs <span class="badge">@Model.DVDs.Count</span></a>
                    <a href="#" class="btn btn-primary">View Comments <span class="badge">@Model.DVDs[0].Movie.UserNotes.Count</span></a>
                    <a href="#" class="btn btn-primary">View Ratings <span class="badge">@Model.DVDs[0].Movie.UserRatings.Count</span></a>
                    <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit Movie</a>
                </div>
            </div>
            <br/>
            @if (Model.Owner != null)
            {
                <div class="row">
                    <div class="col-xs-9">
                        <span><b>@(Model.Owner)'s Rating:</b></span>
                        </div>
                </div>
                <div class="row">
                    @if (@Model.DVDs[0].Movie.UserRatings.Where(r => r.Owner).FirstOrDefault() != null)
                    {
                        <div class="col-xs-9">
                            <span>@Model.DVDs[0].Movie.UserRatings.Where(r => r.Owner).FirstOrDefault().Rating / 5</span>
                            </div>
                    }
                    else
                    {
                        <div class="col-xs-9">
                            <span>@(Model.Owner) has not rated this.</span>
                            </div>
                    }
                </div>
            }
            <br/>
            <div class="row">
                <div class="col-xs-9">
                    <span><b>Avg Rating (@Model.DVDs[0].Movie.UserRatings.Count Users):</b></span>
                    </div>
            </div>
            <div class="row">
                @if (@Model.DVDs[0].Movie.UserRatings.Count != 0)
                {
                    <div class="col-xs-9">
                        <span>@(Model.DVDs[0].Movie.UserRatings.Average(r => r.Rating).ToString("#.000")) / 5</span>
                    </div>
                }
                else
                {
                    <div class="col-xs-9">
                        <span>No users have rated this.</span>
                    </div>
                }
                    </div>
            <br/>
            <div class="row">
                <div class="col-xs-9">
                    <p>
                        <b>MovieID:</b> @(Model.DVDs[0].Movie.MovieId)
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-9">
                    <p>
                        <b>TMDB#:</b> @(Model.DVDs[0].Movie.MovieTMDBNum)
                    </p>
                </div>
            </div>
            <br/>

            @*Submit a new rating*@
            @using (Html.BeginForm("SubmitRating", "Home", FormMethod.Post))
            {
                <div class="row">
                    <div ng-app="StarRating" class="col-xs-9">
                        <span><b>Add a New Rating:</b></span>
                        <p style="line-height:10%"></p>
                        <div ng-star-rating rating="movieRating" click="ratingClick(starValue)"></div>
                    </div>
                </div>
                <p style="line-height:20%"></p>
                @Html.Hidden("MovieId", Model.DVDs[0].Movie.MovieId)
                @Html.Hidden("hiddenRating", "")
                <div class="row">
                    <div class="col-xs-9">
                        @Html.DropDownList("BorrowerId", Model.BorrowersList, new {@class = "form-control"})
                        <p style="line-height:20%"></p>
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-star-empty"></span> Submit Rating</button>
                    </div>
                </div>
                <br/>
                
            }

        </div>


        <div class="col-xs-9" id="right column">
            <div class="row panel panel-default text-center">
                <div class="panel-heading">
                    <h1>
                        @Model.DVDs[0].Movie.MovieTitle <small>(@Model.DVDs[0].Movie.ReleaseDate.Year)</small>
                    </h1>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        <li>@Model.DVDs[0].Movie.MpaaRating</li>
                        <li> | </li>
                        <li>@(Model.DVDs[0].Movie.Duration) mins</li>
                        <li> | </li>
                        @if (Model.DVDs[0].Movie.Genres.Count > 0)
                        {
                            <li>
                                @for (int i = 0; i < Model.DVDs[0].Movie.Genres.Count - 1; i++)
                                {
                                    @(Model.DVDs[0].Movie.Genres[i].GenreName + ", ")
                                }
                                @Model.DVDs[0].Movie.Genres[Model.DVDs[0].Movie.Genres.Count - 1].GenreName
                            </li>
                            <li> | </li>
                        }
                        
                        <li>@(Model.DVDs[0].Movie.ReleaseDate.ToString("d")) (USA)</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <blockquote class="blockquote-reverse">
                    <p>@Model.DVDs[0].Movie.Synopsis</p>
                    <small>Synopsis from <cite title="Source Title">themoviedb.org</cite></small>
                </blockquote>
            </div>

            <div class="text-center">
                    <ul class="list-inline">
                        <li><h4>Directed by <b>@(Model.DVDs[0].Movie.Director.DirectorName)</b></h4></li>
                        <li> | </li>
                        <li><h4>Produced by <b>@(Model.DVDs[0].Movie.Studio.StudioName)</b></h4></li>
                    </ul>
            </div>
            <br/>

            <div class="row embed-responsive embed-responsive-16by9" id="trailer">
                @if (@Model.DVDs[0].Movie.YouTubeTrailer != null)
                {
                    <iframe class="embed-responsive-item" src="@(Model.DVDs[0].Movie.YouTubeTrailer)"></iframe>
                }
            </div>
            <br/>

            <div class="row">
                <table class="table table-bordered table-responsive text-center">
                    <thead><tr><th class="text-center">Cast</th><th class="text-center">Actor Name</th><th class="text-center">Character Name</th></tr></thead>
                    <tbody>
                        @foreach (var a in Model.DVDs[0].Movie.MovieActors)
                        {
                            <tr>
                                <td class="col-xs-3">Actor #@(Model.DVDs[0].Movie.MovieActors.IndexOf(a) + 1)</td>
                                <td class="col-xs-3">@a.ActorName</td>
                                <td class="col-xs-3">@a.CharacterName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/app/starrating.js"></script>
    @*<script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/app/chosen.js"></script>*@
}