@model DVDLibrary.UI.Models.ViewMovieVM

@{
    ViewBag.Title = @Model.Movie.MovieTitle;
}

<br />
<p>@Html.ActionLink("Back to DVD Collection", "ViewAllDvds", "Home")</p>


<h2>@Model.Movie.MovieTitle</h2>
<img src="@Model.Movie.PosterUrl" align="right">
<div class="table-striped">
    <ul>
        <li>@Model.Movie.MpaaRating</li>
        @foreach (var genre in @Model.Movie.Genres)
        {
            <li>Genre: @genre</li>
        }
        <li>Duration: @Model.Movie.Duration</li>
        <li>Release Date: @Model.Movie.ReleaseDate.ToString("d")</li>
        <li>Director Name: @Model.Movie.Director.DirectorName</li>
        <li>Studio: @Model.Movie.Studio.StudioName</li>
        <li>Actors:</li>
        @foreach (var actor in @Model.Movie.MovieActors)
        {
            <span>@actor.CharacterName: @actor.ActorName</span><span>;</span>
        }
        <p></p>
        <p style="font-weight: bold">Synopsis:</p>
        <span>@Model.Movie.Synopsis</span>
        <p></p>
        <p style="font-weight: bold">Viewer Comments:</p>
        <li>
            User Rating:

            @if (@Model.Movie.UserRatings.Where(r => r.Owner == true).FirstOrDefault() != null)
            {
                <span>@Model.Movie.UserRatings.Where(r => r.Owner == true).FirstOrDefault().Rating / 10 </span>
            }
            else
            {
                <span>You have not rated this movie.</span>
            }
        </li>

        <li>Average User Rating (@Model.Movie.UserRatings.Count users): @Model.Movie.UserRatings.Average(r => r.Rating)</li>

        @foreach (var note in @Model.Movie.UserNotes)
        {
            <li>User Notes: @note.Note ~@note.BorrowerName</li>
        }
    
    <p></p>
    <p style="font-weight: bold">Borrower Information:</p>
    @*@if (@Model.status.DvdId != null && @Model.status.DateReturned == null)
    {
        <li>Borrower: @Model.status.Borrower</li>
        <li>Date Borrowed: @Model.status.DateBorrowed</li>
    }
    else
    {
        <p>This movie is available to be borrowed.</p>
    }*@

    @using (Html.BeginForm("BorrowDvdPost", "Home", FormMethod.Post))
    {
        <p>Select Borrower: @Html.DropDownListFor(b => b.borrower.FirstName, Model.borrowers)</p>
        <button type="submit" class="btn btn-primary">Borrower Movie</button>
    }
    </ul>
</div>
<br />
<div id="trailer">
    @if (@Model.Movie.YouTubeTrailer != null)
    {
        <iframe width="420" height="315" src="@Model.Movie.YouTubeTrailer"></iframe>
    }
</div>
<br />
<div>
    @using (Html.BeginForm("DeleteDVD", "Home", FormMethod.Post))
    {
        @Html.Hidden("id", @Model.Movie.MovieId)
        <button class="btn btn-danger">Delete</button>
    }
</div>